*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    width: 100%;
    font-family: 'Ubuntu';
}

/*  HEADER  */

header{
    width: 100%;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2e948a;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);    
}

header .logo{
    margin-left: 6%;
}

header .menu-header{
    margin-right: 100px;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-right: 6%;
    gap: 40px;
}

header nav a{
    color: #fdfdfd;
    text-decoration: none;
    text-transform: uppercase;
}

/*  SECTION 1  */

.section1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section1 .left{
    width: 50%;
    margin-top: 9%;
}

h2{
    font-size: 40px;    
    font-weight: 700;
    color: #ff4081;
    width: 154px;
    height: 46px; 
    margin-bottom: 5%; 
    margin-left: 11%; 
}

.section1 .form-contato{
    width: 80%;
}

.section1 .input1{
    width: 493px;
    height: 32px;
    border: 1px solid #686868;
    border-radius: 7px;
    margin-bottom: 3%;
    padding-left: 10px;
    margin-left: 14%; 
}

.section1 .input2{
    width: 493px;
    height: 32px;
    border: 1px solid #686868;
    border-radius: 7px;
    margin-bottom: 3%;
    padding-left: 10px;
    margin-left: 14%; 
}

.section1 .input3{
    width: 493px;
    height: 193px;
    border: 1px solid #686868;
    border-radius: 7px;
    margin-bottom: 4%;
    padding-left: 10px; 
    margin-left: 14%;    
}

.section1 .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 7%;
    border: 1px solid #ff4081;
    background: #ff4081;
    border-radius: 50px;
    margin-left: 11%;
    margin-bottom: 15%;
}

.section1 .botao a{
    text-decoration: none;
    color: #fff;
    
}

.section1 .right img{
    width: 100%;
    height: 70%;    
    margin-top: 82px;
}

/*  FOOTER  */

footer{
    width: 100%;
    height: 157px;
    background: #419488;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

footer .logo-footer{
    margin-left: 9%;
}

footer .logo-footer img{
    width: 80%;
}

footer nav{
    display: grid;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
}

footer nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

footer .botao-footer{
    margin-right: 5%;
    width: 20%; 
}

footer .botao-footer .btn1{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 70%;    
    height: 41px;
    border: 2px solid #fff;
    border-radius: 62px;
    margin-bottom: 5%;
    text-decoration: none;
    color: #fff;    
}

footer .botao-footer .btn2{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 41px;    
    border: 2px solid #fff;
    border-radius: 62px;
    text-decoration: none;
    color: #fff;
}

/*  RESPONSIVIDADE 1024px **********************************************************************/

@media (max-width: 1024px) {
    
    .section1 .right img {
        width: 80%;
        height: 50%;    
        margin-top: 30%;
        margin-left: 10%;
    }

    footer .botao-footer .btn1{
        width: 100%; 
    }

    footer .botao-footer .btn2{
        width: 100%;
    }
}

/*  RESPONSIVIDADE 960px */

@media (max-width: 960px){
    
    header .logo img{
        width: 80%;
    }
    
    header .menu-header{       
        font-size: 15px;
        gap: 25px;
    }

    .section1 .input1{
        width: 100%;
    }
    
    .section1 .input2{
        width: 100%;
        
    }
    
    .section1 .input3{
        width: 100%;    
    }

    footer{
        width: 100%;
        height: 107px;  
    }

    footer .logo-footer img{
        width: 70%;
    }

    footer nav{
        display: grid;
        font-size: 17px;
        line-height: 13px;
    }
    
    footer .botao-footer .btn1{
        font-size: 15px;   
        height: 30px;
    }
    
    footer .botao-footer .btn2{
        font-size: 15px;
        height: 30px;
    }    
}

/*  RESPONSIVIDADE 780px */

@media (max-width: 780px){
    .section1 .input3{
        height: 180px;   
    }
    
    .section1 .botao{
        width: 20%;
    }
}

/*  RESPONSIVIDADE 720px */

@media (max-width: 720px){
    footer{
        width: 100%;
        height: 97px;  
    }

    footer .logo-footer img{
        width: 60%;
    }

    footer nav{
        display: grid;
        font-size: 15px;
        line-height: 10px;
        margin-right: 110px;
    }

    footer .botao-footer{
        width: 30%;
        margin-right: 9%;
    }
    
    footer .botao-footer .btn1{
        width: 100%;
        font-size: 13px;   
        height: 30px;
    }
    
    footer .botao-footer .btn2{
        width: 100%;
        font-size: 13px;
        height: 30px;
    }
}

/*  RESPONSIVIDADE 480px */

@media (max-width: 480px){
    header .logo{
        width: 60%;
        margin-left: 10%;
    }
    
    header .menu-header{
        display: grid;       
        font-size: 12px;
        gap: 1px;
        margin-right: 14%;
    }

    .section1 .left{
        width: 100%;
        margin-top: 9%;
    }

    .section1 .input1{
        width: 90%;
    }
    
    .section1 .input2{
        width: 90%;
    }
    
    .section1 .input3{
        width: 90%;
            
    }

    .section1 .right img{
        display: none;
    }

    .section1 .botao{
        margin-left: 38%;
        margin-bottom: 10%;
    }

    footer{
        width: 100%;
        height: 87px;  
    }

    footer .logo-footer img{
        width: 80%;
    }

    footer nav{
        display: grid;
        font-size: 12px;
        line-height: 8px;
        margin-right: 50px;
        text-align: center;
    }

    footer .botao-footer{
        width: 50%;
        margin-right: 9%;
    }
    
    footer .botao-footer .btn1{
        width: 90%;
        font-size: 8px;   
        height: 20px;
    }
    
    footer .botao-footer .btn2{
        width: 90%;
        font-size: 8px;
        height: 20px;
    }    
}